<!doctype html>
<html ng-app="app" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
</head>
<body>
<div class="container back" ng-controller="indexController">
    <h3 ng-show="!showed">Опрос завершен!</h3>
    <div ng-show="showed">
        <table class="table table-hover">
            <thead>
            <tr>
                <td>Роль</td>
                <td>Имя</td>
                <td>Фамилия</td>
                <td>№ команды</td>
                <td>Баллы</td>
                <td></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Задающий</td>
                <td>{{StudentOne.firstname}}</td>
                <td>{{StudentOne.surname}}</td>
                <td>{{StudentOne.teamId}}</td>
                <td>
                    <button class="btn btn-submit" ng-click="plus(StudentOne.id)">+1</button>
                </td>
                <td>
                    <button class="btn btn-danger" ng-click="minus(StudentOne.id)">-1</button>
                </td>
            </tr>
            <tr>
                <td>Отвечающий</td>
                <td>{{StudentTwo.firstname}}</td>
                <td>{{StudentTwo.surname}}</td>
                <td>{{StudentTwo.teamId}}</td>
                <td>
                    <button class="btn btn-submit" ng-click="plus(StudentTwo.id)">+1</button>
                </td>
                <td>
                    <button class="btn btn-danger" ng-click="minus(StudentTwo.id)">-1</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <p>
        <button class="btn btn-submit" ng-click="play()">Новая пара</button>
    </p>
    <div class="cards">
        <div class="card">
            <textarea class="textareacustom" name="text" placeholder="Вставьте ваш текст..." cols="40"
                      ng-model="input"></textarea>
            <button class="btn btn-submit" ng-click="addNewStudents(input)">Отправить</button>
        </div>
        <div class="card">
            <input ng-model="inputPath" name="textInput" class="inputPath" placeholder="Вставьте путь на файл Excel...">
            <button class="btn btn-submit" ng-click="import(inputPath)">Отправить путь</button>
        </div>
    </div>
    <button class="btn btn-danger" ng-click="clearAll()">Очистить базу</button>
    <button class="btn btn-danger" ng-click="restartQuiz()">Начать заново</button>
    <hr>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Id</td>
            <td>№ Команды</td>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Очки</td>
            <td>Задавал</td>
            <td>Отвечал</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="s in StudentsPage">
            <td>{{s.id}}</td>
            <td>{{s.teamId}}</td>
            <td>{{s.firstname}}</td>
            <td>{{s.surname}}</td>
            <td>{{s.score}}</td>
            <td>{{s.isAsked}}</td>
            <td>{{s.isPolled}}</td>
            <td>
                <button class="btn btn-submit" ng-click="plus(s.id)">+1</button>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="minus(s.id)">-1</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>